.section-team {
    background: url(/images/bg-team.svg) no-repeat;
    background-position: center;
    background-size: 60%;
    object-position: center;
    object-fit: cover;

    @include media-breakpoint-down(md){
        background: none;
    }
    .container {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md)
        {
            display: block;
        }

        .team-text {
            margin-top: 50px;
            width: 30%;

            @include media-breakpoint-down(md)
            {
                margin-bottom: 40px;
                margin: auto;
                text-align: center;
                width: 80%;

                hr {
                    display: inline-block;
                    text-align: center;
                }
            }

            .title-text {
                margin-bottom: 0;
            }

            hr {
                border-top: 4px solid #8819F8;
                margin: 0;
                width: 200px;
            }

            .subtitle-text {
                font-size: 15px;
                margin-top: 20px;
                color: #716565;
                margin-bottom: 40px;
            }

            .btn-check-here {
                text-decoration: none;
                display: inline-block;
                padding: 5px 40px;
                color: white;
                background: linear-gradient(269.43deg, #5C5FFC 0%, rgba(188, 189, 254, 0.411458) 60.42%, rgba(175, 177, 253, 0.489583) 70.31%, rgba(255, 255, 255, 0) 100%), #8819F8;
                border-radius: 20.5px;

                &:hover {
                    background: rgb(240, 78, 255);
                }

                @include media-breakpoint-down(md)
                {
                    display: none;
                }

            }
        }

        .team-profile {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 70%;

            @include media-breakpoint-down(md)
            {
                justify-content: center;
                width: 100%;
            }

            .card {
                margin-bottom: 30px;
                margin-right: 30px;
                width: 43%;

                @include media-breakpoint-down(md)
                {
                    margin-right: 10px;
                    margin-bottom: 50px;
                    width: 80%;
                }

                .header-profile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;

                    .profile-name {
                        width: 50%;
                        font-size: 18px;
                        color: #000000;
                    }

                    .profile-image {
                        width: 20%;
                    }
                }

                .footer-profile {
                    .description-profile {
                        font-size: 14px;
                        color: #7F7E80;
                        line-height: 22px;

                        .expert {
                            font-size: 16px;
                            color: #A564E7;
                        }
                    }

                    .btn-view-profile {
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        color: white;
                        background: linear-gradient(269.43deg, #5C5FFC 0%, rgba(188, 189, 254, 0.411458) 60.42%, rgba(175, 177, 253, 0.489583) 70.31%, rgba(255, 255, 255, 0) 100%), #8819F8;
                        border-radius: 5px;

                        &:hover {
                            background: rgb(240, 78, 255);
                        }
                    }
                }
            }
        }
    }
}